<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../public/style.css">
    </head>   
    <body>
       <div class="wrap">
           <div class="intro_bg">
               <div class="header">
                   <div class="search_area">
                       <form>
                           <input type="search" placeholder="Search">
                           <button><span>검색</span></button>
                       </form> 
                   </div>
                   <ul class="nav">
                        <li><a href="/">HOME</a></li>
                        <li><a href="login">LOGIN</a></li>
                        <li><a href="mypage.html">MY</a></li>
                        <li><a href="sitemap.html">SITEMAP</a></li>
                   </ul>
               </div>
               <div class="intro_text">
                    <a href="/">
                        <img src="../image/logo.png">
                        <h1>여기issue</h1>
                    </a>
                    
                    <h4 class="contents1">-여기있슈-</h4>
               </div>
           </div>
           <!-- intro end -->
           <ul class="mainmenu1">
                <li>
                    <div class="contents1"><a href="#">응급실 찾기</a></div>
                </li>
                <li>
                    <div class="contents1"><a href = "hospitalFind">병원 </a></div> 
                </li>
                <li> 
                    <div class="contents1"><a href="#">약국 찾기</a></div>
                </li>
                <li>
                    <div class="contents1"><a href="#">구급차 부르기</a></div>
                    <ul class="submenu1">
                        <li><a href="#">119 구급차</a></li>
                        <li><a href="#">사설 구급차</a></li>
                    </ul>
                </li>
           </ul>
           <!-- mainmenu1 end -->
           <div class="mainmenu2">
                <h1>MORE</h1>
                <div class="contents1">여기 있슈</div>

                <ul class="icons">
                    <li>
                        <div class="icon_img">
                            <img src="../image/emerg.jpg">
                        </div>
                        <div class="contents1_bold">응급처치</div>
                        <div class="contents3">
                            기본/상황별 응급처치
                        </div>
                        <div class="more"><button><a href="more1.html"> MORE</a></button></div>
                    </li>
                    <li>
                        <div class="icon_img">
                            <img src="../image/health.jpg">
                        </div>
                        <div class="contents1_bold">건강 관리</div>
                        <div class="contents3">
                            건강을 위한 정보
                        </div>
                        <div class="more"><button><a href="more2.html"> MORE</a></button></div>
                    </li>
                    <li>
                        <div class="icon_img">
                            <img src="../image/faq.jpg">
                        </div>
                        <div class="contents1_bold">FAQ</div>
                        <div class="contents3">
                            궁금증 빠르게 해결하기
                        </div>
                        <div class="more"><button><a href="more3.html"> MORE</a></button></div>
                    </li>
                </ul>
           </div>
        </div>
    </body>
</html>